{% extends 'base.html' %}

{% block head %}

<title>Scraper</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">--- Youtube Channel Scraper---</h1>

    <div class="form">
        <form action="/scraper" method="POST">
            <h2 style="text-align: center">Enter Channel Name :</h2>
            <input type="text" name="search" id="search">
            <h2 style="text-align: center">How many videos do you want to explore?</h2>
            <input type="text" name="n" id="n"></br></br>

            <h2 style="text-align: center">
                   <b>Program is going to store Collected Information into the DATABASE</b> </h2>
            <h2 style="text-align: center">You Need To Provide The Following CREDENTIALS</h2>
            <h3 style="text-align: center">MySQL Hostname : </h3>
            <input type="text" name="host" id="host">
            <h3 style="text-align: center">MySQL Username : </h3>
            <input type="text" name="user" id="user">
            <h3 style="text-align: center">MySQL Password : </h3>
            <input type="text" name="passwd" id="passwd">
            <h3 style="text-align: center">MongoDB Username : </h3>
            <input type="text" name="username" id="username">
            <h3 style="text-align: center">MongoDB Username : </h3>
            <input type="text" name="password" id="password">
            <input type="submit" value="Search">
        </form>
    </div>
</div>
{% endblock %}